language: python

python:
    - "2.7"

os:
    - linux

cache:
    pip: true

sudo: false

addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
        packages:
            - cmake
            - cmake-data
            - g++-5
            - libfftw3-dev

before_install:
    - pip install cffi

before_script:
    - mkdir -p ims-cpp/build
    - cd ims-cpp/build
    - CC=gcc-5 CXX=g++-5 cmake -DCMAKE_C_COMPILER=gcc-5 -DCMAKE_CXX_COMPILER=g++-5 ..
    - make ms_cffi
    - cd ../../
    - python setup.py bdist_egg
    - 'easy_install -U dist/*.egg'

script:
    - py.test test/
